/* The following line can be included in a src/App.scss */
@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}
body {
  font-size: 1.4rem;
}
body,
html {
  margin: 0;
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
  color: #313131;
  background: #fff;
}

.results {
  .listview {
    float: left;
    flex: 76%;
    ul {
      padding-left: 0;
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 4rem;
    }
    .compare-view {
      margin-bottom: -6rem;
      margin-right: -4.8rem;
      padding: 2.7rem;
      margin-bottom: -6rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .compare-view-card-container {
        display: block;
        margin-bottom: 6rem;
        margin-right: 4rem;
        position: relative;
      }

      .card-container {
        position: relative;
        width: 100%;

        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        border: 0.1rem solid #d6d6d6;
        box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
        border-radius: 0.2rem;

        .card-header {
          padding-top: 3.2rem;
          margin-bottom: 1.6rem;
          -webkit-box-flex: 100%;
          -ms-flex: 100%;
          flex: 100%;
          text-align: center;
        }

        .card-image {
          flex: 100%;
          order: 0;
          padding: 0 2.4rem 3.2rem;
          img {
            object-fit: cover;
            width: 11.2rem;
            height: 16rem;
            max-width: 100%;
          }
        }

        .card-access {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          span {
            align-items: center;
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-weight: 600;
            padding: 0.7rem 1.6rem;
            display: flex;
            letter-spacing: 0.003rem;
            gap: 0.8rem;
            position: absolute;
            background: #fff;
            border-radius: 1.6rem;
            box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
          }
          span:before {
            background-image: url(https://www.wiley.com/etc.clientlibs/wiley/clientlibs/clientlib-consumer/resources/images/common-icons/revenue-model.svg);
            background-repeat: no-repeat;
            content: "";
            display: block;
            height: 1.2rem;
            width: 1.2rem;
          }
        }

        .card-details {
          background-color: #f5f5f5;
          border-bottom: 0.1rem solid #d6d6d6;
          padding-top: 2.4rem;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          flex: 100%;
          text-align: left;
          flex-grow: 1;
          padding-left: 2.4rem;
          padding-right: 2.4rem;

          .card-detailed {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            border-bottom: 0.1rem solid #d6d6d6;
            line-height: 2.8rem;
            .label {
              flex: 1;
              margin-right: 0.8rem;
              letter-spacing: 0.0035rem;
              color: #313131;
              display: flex;
              flex-direction: row;
              font-weight: 400;
            }

            .value {
              flex: none;
              max-width: 50%;
              text-align: end;
              letter-spacing: 0.004rem;
              color: #123d80;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 2.8rem;
              display: flex;
            }
          }
        }
      }

      .placeholder-outer {
        &:hover {
          background-color: #123d80;
          .placeholder-text {
            color: #f5f5f5;
          }
        }
        display: grid;
        place-content: center;
        text-align: center;
        background-color: #f5f5f5;
        min-height: 29.8rem;
        border-radius: 0.2rem;
        border: 0.1rem solid #d6d6d6;
        padding: 3.2rem 2.4rem;
        .placeholder-circle {
          display: inline-grid;
          place-content: center;
          background-color: #fff;
          border-radius: 50%;
          padding: 0.8rem;
          -webkit-box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.2);
        }
        .placeholder-text {
          display: -webkit-box;
          font-size: 1.4rem;
          line-height: 1.4rem;
          letter-spacing: -0.005em;
          font-weight: 600;
          padding-top: 0.8rem;
          color: #123d80;
          padding-bottom: 0;
        }
      }
    }
  }
}
.banner-close {
  content: url(https://www.wiley.com/etc.clientlibs/wiley/clientlibs/clientlib-consumer/resources/images/common-icons/close-cross.svg);
  display: block;
  background: #fff;
  position: absolute;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  top: -1.2rem;
  right: -1.2rem;
}
